
body {
    background-color: #add4e1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 2vw;
}
#Logo {
    margin: 0px; 
    padding: 7px; 
    font-family: "Fredoka One"
   
}
ul {
    margin: 0px;padding: 10px;
}
body > header {
    background-color: #ff7473;
    color: white;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
  
}
body > header > nav >ul {
    list-style: none;
    text-decoration: none;
}
#nav-ul{
display: flex;
}
#nav-ul > li {
    padding: 8px;
    margin: 16px;
}
.navbutton {
color: white;
text-decoration: none;
padding: 12px;
border: 1px solid white;
border-radius: 10%;
}
body > main article {
    width: 80%;
    margin: auto;
}
#main-content > div {
    width: 80%;
}
h2 {
    text-align: center;
}
form {
    text-align: center;
}
body > footer {
    background-color: #ff7473;
    display: flex;
}
#Fringe {
    padding-bottom: 2%
}
#Newsletter {
    background-color: #34314c;
    color: white;
  padding-top: 2%;
  padding-bottom: 2%;
}
#footer-ul {
    display: flex;
    list-style: none;
}
#footer-ul > div > li {
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 3px;
}
#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
}


#subheading {
    background-color: #ffc952;
    margin: 0px;
    padding: 4px;
    width: 100%;
}


#tfhmusical {
    margin: 100px;
    margin-right: 0px;
    align-items: center;
    width: 1000px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "tfhmain tfhimage"
    ;
    grid-template-columns: 60% 40%;
}
#tfhmain {
grid
}

#tfhimage {
    grid-area: tfhimage;
    padding: 16px;
    width: auto;
}
#tfhfooter {
    grid-area: tfhfooter;
    padding: 16px;
}


